<form class="item">
  <label class="hidden" for="itemname">{{localize "FUDGE.ItemName"}} </label>
  <input class="fullwidth" name="itemname" id="itemname" type="text" value="{{item.name}}" placeholder={{localize "FUDGE.ItemName"}}  />
  <div class="properties">
    {{#if (eq item.type "equipment")}}
      <label for="itemodf">{{localize "FUDGE.ODF"}} </label>
      <input class="numeric" name="itemodf" id="itemodf" type="text" value="{{item.system.odf}}"/>
      <label for="itemddf">{{localize "FUDGE.DDF"}} </label>
      <input class="numeric" name="itemddf" id="itemddf" type="text" value="{{item.system.ddf}}"/>
      <label for="itemqty">{{localize "FUDGE.Quantity"}}</label>
      <input class="numeric" name="itemqty" id="itemqty" type="text" value="{{item.system.quantity}}" />
    {{/if}}
    {{#if (eq item.type "skill")}}
      <label for="skillgroup">{{localize "FUDGE.SkillGroup"}}</label>
      <input class="perline" name="itemname" id="itemname" type="text" value="{{item.system.group}}" />
    {{/if}}
  </div>
  <h2>{{localize 'FUDGE.Description'}}</h2>
  {{editor descriptionHTML class="desc" target="system.description" button=true 
      editable=editable engine="prosemirror" collaborate=false}}

</form>