<form class="actor">
  <header>
    <section class="basedata">
      <div class="name">
        <label for="charname">{{ localize 'FUDGERPG.CharacterName' }}</label>
        <input name="charname" id="charname" type="text" 
          value="{{actor.name}}" 
          placeholder="{{ localize 'FUDGERPG.CharacterName' }}"/>
      </div>
      <img class="picture" data-edit="img" title="{{actor.name}}" src="{{actor.img}}" /> 
      <div class="traitinfo">
        <h2>{{ localize 'FUDGERPG.TraitValues' }}</h2>
        <table>
          <thead>
            <tr>
                <th>{{ localize 'FUDGERPG.Level' }}</th>
                <th>{{ localize 'FUDGERPG.Value' }}</th>
                <th>{{ localize 'FUDGERPG.EPCost' }}</th>
            </tr>
          </thead>
          <tbody>
            {{#each traitlevels as |level|}}
              <tr>
                <td>{{level.name}}</td>
                <td>{{displayWithSign level.value}}</td>
                <td>{{level.ep}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="stats">
        <h2>{{localize 'FUDGERPG.GeneralTraits'}}</h2>
        <div class="fields">
          <label>{{ localize 'FUDGERPG.FP' }}
            <input id="fp" name="fp" type="text" value="{{actor.system.fp}}" 
              placeholder="{{ localize 'FUDGERPG.FP' }}"/>
          </label>
          <label>{{ localize 'FUDGERPG.EP' }}
            <input id="ep" name="ep" type="text" value="{{actor.system.ep}}" 
              placeholder="{{ localize 'FUDGERPG.EP' }}"/>
          </label>
          <button id="fivepoint">Five-Point Fudge</button>
        </div>
      </div>
      <div class="wounds">
        <h2>{{ localize 'FUDGERPG.Wounds' }}</h2>
        <div class="woundlevels">
          <div class="level">
            <div>1-2</div>
            <div class="checks">
              {{#each woundlevels.scratch as | box idx |}}
                <input id="scratch-{{idx}}" class="woundbox" type="checkbox" 
                  {{#if box}}checked{{/if}}>
              {{/each}}
            </div>
            <div>{{ localize "FUDGERPG.Scratch" }}</div>
          </div>
          <div class="level">
            <div>3-4</div>
            <div class="checks">
              {{#each woundlevels.hurt as | box idx |}}
                <input id="hurt-{{idx}}" class="woundbox" type="checkbox" 
                  {{#if box}}checked{{/if}}>
              {{/each}}
            </div>
            <div>{{ localize 'FUDGERPG.Hurt' }} (-1)</div>
          </div>
          <div class="level">
            <div>5-6</div>
            <div class="checks">
              {{#each woundlevels.veryhurt as | box idx |}}
                  <input id="veryhurt-{{idx}}" class="woundbox" type="checkbox" 
                    {{#if box}}checked{{/if}}>
              {{/each}}
            </div>
            <div>{{ localize 'FUDGERPG.VeryHurt' }} (-2)</div>
          </div>
          <div class="level">
            <div>7-8</div>
            <div class="checks">
              {{#each woundlevels.incapacitated as | box idx |}}
                <input id="incapacitated-{{idx}}" class="woundbox" type="checkbox"
                  {{#if box}}checked{{/if}}>
              {{/each}}
            </div>
            <div>{{ localize 'FUDGERPG.Incapacitated' }}</div>
          </div>
          <div class="level">
            <div>9+</div>
            <div class="checks">
              {{#each woundlevels.neardeath as | box idx |}}
                <input id="neardeath-{{idx}}" class="woundbox" type="checkbox" 
                  {{#if box}}checked{{/if}}>
              {{/each}}
            </div>
            <div>{{ localize 'FUDGERPG.NearDeath' }}</div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="traits">
      <section class="attributes">
        <div class="header-with-count">
          <h2>{{ localize 'FUDGERPG.Attributes' }}</h2>
          <input id="attribute-points" class="occ-count" value="{{actor.system.unspent.attrlevels}}"/>
        </div>
        <div class="traitlist">
            {{#each attributeset.system.attributes as |attribute idx|}}
              <div class="attribute-row" data-index="{{idx}}">
                <button id="roll-attr-{{idx}}" type="button" class="roll-button" title="Roll">
                  <i class="fas fa-dice-d6"></i>
                </button>
                <label for="attr-{{idx}}">{{attribute.name}}</label>
                <select id="attr-{{idx}}" name="attr-{{idx}}" class="traitselect">
                  {{#each ../traitlevels as |level|}}
                    <option value="{{level.value}}"
                      {{#if (eq attribute.level level.value)}} selected {{/if}}
                    >
                      {{level.name}}
                    </option>
                  {{/each}}
                </select>
              </div>
            {{/each}}
        </div>
      </section>
      <section class="gifts">
        <div class="header-with-count">
          <h2>{{ localize 'FUDGERPG.GiftsPowers' }}</h2>
          <input id="gift-points" class="occ-count" value="{{actor.system.unspent.gifts}}"}/>
        </div>
        <div class="traitlist item-list">
          {{#each items as |item|}}
            {{#if (eq item.type "gift")}}
              <div class="nonlevel-row item" data-item-id="{{item._id}}">
                <button type="button" data-id="{{item._id}}" class="itemname">
                  {{item.name}}
                </button>
                <button id="del-{{item._id}}" type="button" class="delete-button" title="Delete">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </section>
      <section class="skills">
          <div class="header-with-count">
            <h2>{{ localize 'FUDGERPG.Skills' }}</h2>
            <input id="skill-points" class="occ-count"  value="{{actor.system.unspent.skilllevels}}"/>
          </div>
          <div class="traitlist item-list">
            {{#each items as |item|}}
              {{#if (eq item.type "skill")}}
                <div class="skill-row item" data-item-id="{{item._id}}">
                  <button id="roll-skill-{{item._id}}" class="roll-button" title="Roll" 
                    type="button" ><i class="fas fa-dice-d6"></i></button>
                  <label for="sel-{{item._id}}">
                    <button type="button" data-id="{{item._id}}" class="itemname">{{item.name}}</button>
                  </label>
                  <select id="sel-{{item._id}}" name="sel-{{item._id}}" 
                    class="traitselect">
                    {{#each ../traitlevels as |level|}}
                      <option value="{{level.value}}"
                      {{#if (eq item.system.level level.value)}} selected {{/if}}
                      >
                        {{level.name}}
                      </option>
                    {{/each}}
                  </select>
                  <!-- <button id="edit-{{item.id}}" class="edit-button" title="Edit" 
                    type="button"><i class="fas fa-edit"></i></button> -->
                  <button id="del-{{item._id}}" class="delete-button" title="Delete" 
                    type="button"><i class="fas fa-trash"></i></button>
                  <!-- Specialization example - kind of ugly right now - save for later
                  <input id="s2-spec" name="s2-spec" placeholder="Rapier" 
                    class="specialization" style="margin-left: 20px;">
                  <div></div>
                  <div></div>
                  -->
                </div>
              {{/if}}
            {{/each}}
          </div>
      </section>
      <section class="equipment">
        <h2>{{ localize 'FUDGERPG.Equipment' }}</h2>
        <div class=" traitlist item-list">
          <div class="equipment-row">
            <div class="eqtitle">Item</div>
            <div class="eqtitle">DF</div>
            <div class="eqtitle"></div>
          </div>
          {{#each items as |item|}}
            {{#if (eq item.type "equipment")}}
              <div class="equipment-row item" data-item-id="{{item._id}}">
                <div class="eqname">
                  <button type="button" data-id="{{item._id}}" class="itemname">{{item.name}}</button>
                </div>
                <div class="df">
                  {{#if item.system.odf}}O{{displayWithSign item.system.odf}}{{/if}}
                  {{#if item.system.ddf}}D{{displayWithSign item.system.ddf}}{{/if}}
                </div>
                <button id="del-{{item._id}}" class="delete-button" title="Delete" 
                  type="button"><i class="fas fa-trash"></i></button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </section>
      <section class="faults">
        <div class="header-with-count">
          <h2>{{ localize 'FUDGERPG.Faults' }}</h2>
          <input id="fault-points" class="occ-count" value="{{actor.system.unspent.faults}}"/>
        </div>
        <div class="traitlist item-list">
          {{#each items as |item|}}
            {{#if (eq item.type "fault")}}
              <div class="item nonlevel-row" data-item-id="{{item._id}}">
                <button type="button" data-id="{{item._id}}" class="itemname">{{item.name}}</button>
                <button id="del-{{item._id}}" class="delete-button" title="Delete" type="button">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </section>
    </section>
    <section class="actor-notes">
      <h2>{{ localize 'FUDGERPG.Notes' }}</h2>
        {{editor notesHTML class="desc" target="system.notes" button=true 
            editable=editable engine="prosemirror" collaborate=false}}

    </section>
  </main>
</form>
